body /*{ background: #E9E5E2;margin:0; }*/
{
    margin: 0;
    background-image: url(background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Philosopher', 'Roboto', sans-serif;
}
h1, h2 {color: orangered;}
h1 { font-size: 3rem; text-align: center; margin-top: 39vh;}
h2 { font-size: 2.5rem; text-decoration: underline;}
#SkillBox {
    /*background-image: url(background.jpeg);*/
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 0;
    margin-top: 60vh;
    /*background-color: #fff;*/
    /*border: 1px solid #cdcdcd;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  */
}
.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 12s;
    -webkit-animation: Animate-HTML 12s;
    -moz-animation: Animate-HTML 12s;
    -o-animation: Animate-HTML 12s;
    height: 50px;
    position: absolute;
    background-color: rgb(255,186,8);
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}#Skill-CSS {
    animation: Animate-CSS 12s;
    -webkit-animation: Animate-CSS 12s;
    -moz-animation: Animate-CSS 12s;
    -o-animation: Animate-CSS 12s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: rgb(220, 47, 2);
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}#Skill-jQuery {
    animation: Animate-jQuery 12s;
    -webkit-animation: Animate-jQuery 12s;
    -moz-animation: Animate-jQuery 12s;
    -o-animation: Animate-jQuery 12s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: rgb(250,163,7);
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}#Skill-JS {
    animation: Animate-JS 12s;
    -webkit-animation: Animate-JS 12s;
    -moz-animation: Animate-JS 12s;
    -o-animation: Animate-JS 12s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: rgb(208, 0, 0);
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-XML {
    animation: Animate-XML 12s;
    -webkit-animation: Animate-XML 12s;
    -moz-animation: Animate-XML 12s;
    -o-animation: Animate-XML 12s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: rgb(244, 140, 6);
}
@keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-C {
    animation: Animate-C 12s;
    -webkit-animation: Animate-C 12s;
    -moz-animation: Animate-C 12s;
    -o-animation: Animate-C 12s;
    width: 20%;
    height: 50px;
    position: absolute;
    background-color: rgb(157, 2, 8);
}
@keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-webkit-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-moz-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-o-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 20%}
}#Skill-JAVA {
    animation: Animate-JAVA 12s;
    -webkit-animation: Animate-JAVA 12s;
    -moz-animation: Animate-JAVA 12s;
    -o-animation: Animate-JAVA 12s;
    width: 20%;
    height: 50px;
    position: absolute;
    background-color: rgb(232, 93, 4);
}
@keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-webkit-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-moz-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-o-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 20%}
}#Skill-PHP {
    animation: Animate-PHP 12s;
    -webkit-animation: Animate-PHP 12s;
    -moz-animation: Animate-PHP 12s;
    -o-animation: Animate-PHP 12s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: rgb(106, 4, 15);
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}#Skill-SQL {
    animation: Animate-SQL 12s;
    -webkit-animation: Animate-SQL 12s;
    -moz-animation: Animate-SQL 12s;
    -o-animation: Animate-SQL 12s;
    width: 20%;
    height: 50px;
    position: absolute;
    background-color: red;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 20%}
}#Skill-VBNET {
    animation: Animate-VBNET 12s;
    -webkit-animation: Animate-VBNET 12s;
    -moz-animation: Animate-VBNET 12s;
    -o-animation: Animate-VBNET 12s;
    width: 20%;
    height: 50px;
    position: absolute;
    background-color: goldenrod;
}
@keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-webkit-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 20%}
}@-moz-keyframes Animate-VBNET {
    from {
    width:10px;
}
to {
    width: 20%}
}@-o-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 20%}
}.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: black;
        font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: black;
    font-size: 18px;
}

/*Timeline*/

#experiences
{
    margin-top: 10vh;
    width: 99vw;
    height: 90vh;
    overflow: auto;
    padding-right: 1vw;
    text-align: center;
}
.hexa{
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 80px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
  }
  
  .hexa:before{
    content: ""; 
    position: absolute; 
    left: 0; 
    width: 0; 
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
  }
  
  .hexa:after{
    content: ""; 
    position: absolute; 
    left: 0; 
    width: 0; 
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
  }
  
  .timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213,213,213);
    background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    z-index: 5;
  }
  
  .timeline li {
    padding: 2em 0;
  }
  
  .timeline .hexa{
    width: 16px;
    height: 10px;
    position: absolute;
    background: blanchedalmond;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    top: -30px;
    margin-top: 0;
  }
  
  .timeline .hexa:before {
    border-bottom: 4px solid blanchedalmond;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
  }
  
  .timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid blanchedalmond;
    bottom: -4px;
  }
  
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  
  .flag-wrapper {
    text-align: center;
    position: relative;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: orangered;
    color: black;
    font-weight: 600;
    z-index: 15;
    padding: 6px 6px;
    text-align: left;
    border-radius: 5px;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
  }
  
  .direction-l .time-wrapper {
    float: none;
  }
  
  .direction-r .time-wrapper {
    float: none;
  }
  
  .time {
    background: orange;
    color: black;
    display: inline-block;
    padding: 8px;
  }
  
  .desc {
    position: relative;
    margin: 1px 0 0 0;
    padding: 1px;
    background: blanchedalmond;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 0.5rem;
    z-index: 15;
  }
  
  @media(min-width: 768px){
    .timeline {
      width: 660px;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .timeline li:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    
    .timeline .hexa {
      left: -28px;
      right: auto;
      top: 8px;
    }
  
    .timeline .direction-l .hexa {
      left: auto;
      right: -28px;
    }
  
    .direction-l {
      position: relative;
      width: 310px;
      float: left;
      text-align: right;
    }
  
    .direction-r {
      position: relative;
      width: 310px;
      float: right;
      text-align: left;
    }
  
    .flag-wrapper {
      display: inline-block;
    }
    
    .flag {
      font-size: 18px;
    }
  
    .direction-l .flag:after {
      left: auto;
      right: -16px;
      top: 50%;
      margin-top: -8px;
      border: solid transparent;
      border-left-color: rgb(254,254,254);
      border-width: 8px;
    }
  
    .direction-r .flag:after {
      top: 50%;
      margin-top: -8px;
      border: solid transparent;
      border-right-color: rgb(254,254,254);
      border-width: 8px;
      left: -8px;
    }
  
    .time-wrapper {
      display: inline;
      vertical-align: middle;
      margin: 0;
    }
  
    .direction-l .time-wrapper {
      float: left;
    }
  
    .direction-r .time-wrapper {
      float: right;
    }
  
    .time {
      padding: 5px 10px;
    }
  
    .direction-r .desc {
      margin: 1em 0 0 0.75em;
    }
  }




  
  
  @media(min-width: 992px){
    .timeline {
      width: 800px;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .direction-l {
      position: relative;
      width: 380px;
      float: left;
      text-align: right;
    }
  
    .direction-r {
      position: relative;
      width: 380px;
      float: right;
      text-align: left;
    }
  }



  /*Slideshow*/
  #loisirs
  {
      width: 99vw;
      height: 7vh;
      text-align: center;
      margin-top: 10vh;
  }
 
.card {
  position: relative;
  margin-left: 10vw;
  width: 79vw;
  height: 90vh;
  overflow: hidden;

  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateX( 700px );
  background-image: url( gp.jpg );
  background-size: cover;
  
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}


.card_part.card_part-two {
  z-index: 6;
  background-image: url( pompier.jpg );
  background-size: cover;
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url( moto.jpg );
  background-size: cover;
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url( concert.jpg );
  background-size: cover;
  animation-delay: 21s;
}

.card_part.card_part-five {
    z-index: 3;
    background-image: url( gp.jpg );
    background-size: cover;
    animation-delay: 28s;
  }


@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -79vw ); }
  100% { transform: translateX( -79vw ); }
}



/*footer*/
#footer
{
    width: 98vw;
    height: 10vh;
    margin-top: 5vh;
}
#mail
{
    width: 2.5vw;
    height: auto;
    margin-left: 1vw;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#footer p{
    text-align: center;
    color: orangered;
}
#footer a
{
    text-decoration: none;
    color: orangered;
    font-size: 2rem;
}